<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 编写映射文件的根标签 -->
<mapper namespace="test">
    <!-- 根据用户的ID查询用户的信息 -->
    <select id="findUserById" parameterType="int" resultType="com.hsy.pojo.User">
        select * from user where id=#{id}
    </select>

    <!-- 根据用户的姓名模糊查询用户的信息 -->
    <select id="findUserByNameLike" parameterType="string" resultType="com.hsy.pojo.User">
        SELECT * FROM user WHERE NAME LIKE #{name}
    </select>

    <!-- 插入新用户 -->
    <insert id="insertUser" parameterType="com.hsy.pojo.User">
        INSERT INTO user (id, name) VALUES (#{id}, #{name})
    </insert>
    <!-- 更新用户信息 -->
    <update id="updateUser" parameterType="com.hsy.pojo.User">
        UPDATE user SET name = #{name} WHERE id = #{id}
    </update>
    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="int">
        DELETE FROM user WHERE id = #{id}
    </delete>
</mapper>